{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form id="myForm" class="header" method="post" action="{% url 'todo:create' %}">
        {% csrf_token %}
        <h2>My To Do List</h2>
        <input type="text" id="myInput" name="title" placeholder="Title...">
        <!-- <span onclick="newElement()" class="addBtn">Add</span> -->
        <input type="submit" class="addBtn" value="Add">
    </form>
    
    <ul id="myUL">
        {% for todo in todos %}
            <li class="{% if todo.status %}checked{% endif %}">
                <a class="title" href="{% url 'todo:update' todo.id %}">{{ todo.title }}</a>
                <a class="removeLink" href="{% url 'todo:delete' todo.id %}">remove</a>
            </li>
        {% endfor %}
    </ul>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>